<section class="work-with" id="work-with">
  <div class="container">
    <h2 class="work-with-title">
      <span class="work-with-span">Benefits</span> of working with me
    </h2>
    <ul class="work-list">
      <li class="work-item">
        <div class="icon-wrap">
          <svg class="icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-expertise-user"></use>
          </svg>
        </div>
        <h3 class="work-list-title">Expertise</h3>
        <p class="work-list-paragraph">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
    </ul>
    <ul class="work-list-first">
      <li class="work-list-item">
        <div class="icon-wrap">
          <svg class="icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-communication-msg-chat"></use>
          </svg>
        </div>
        <h3 class="work-list-title">Communication</h3>
        <p class="work-list-paragraph">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="work-list-item">
        <div class="icon-wrap">
          <svg class="icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-art-pencil"></use>
          </svg>
        </div>
        <h3 class="work-list-title">Art</h3>
        <p class="work-list-paragraph">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="work-list-item">
        <div class="icon-wrap">
          <svg class="icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-accordion-arrow-up"></use>
          </svg>
        </div>
        <h3 class="work-list-title">Urgent execution</h3>
        <p class="work-list-paragraph">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
