<footer class="footer">
  <div class="container footer-container">
    <div class="footer-upper-block">
      <a href="./index.html" class="footer-logo">
        LLOYD<span class="footer-logo-second">JEFFERSON.</span>
      </a>
      <ul class="footer-list">
        <li class="footer-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >YouTube</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://github.com/kononova1986/project-15"
            target="_blank"
            rel="nofollow noreferrer"
            class="footer-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-mark-block">
      <p class="copyright-mark">
        © Copyright 2024.<br class="transfer" />
        Made by LloydJefferson
      </p>
    </div>
  </div>
</footer>
