<header class="header" id="header">
  <div class="container">
    <a href="./index.html" class="header-logo"
      >Lloyd<span class="logo-second-name">Jefferson.</span>
    </a>
  
       <button class="button-background"><svg class="icon-btn" fill="none"><rect width="48" height="24" fill="#E4E5E6" rx="12"/><circle cx="12" cy="12" r="10" fill="#00B068"/>
                                <use href="./img/symbol-defs.svg#icon-light">
                                </use>
                            </svg>
                          <svg class="icon-btn-black" fill="none"><rect width="48" height="24" fill="#2A2D32" rx="12"/><path fill="#14C57C" fill-rule="evenodd" d="M32 21.168c3.532-1.543 6-5.067 6-9.168 0-4.1-2.468-7.625-6-9.168A9.966 9.966 0 0 1 36 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.966 9.966 0 0 1-4-.832Z" clip-rule="evenodd"/>
                                <use href="./img/symbol-defs.svg#icon-dark">
                                </use>
        </svg></button>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#about-me" class="nav-link wight">About me</a>
        </li>
        <li class="nav-list-item">
          <a href="#my-projects" class="nav-link ">Projects</a>
        </li>
        <li class="nav-list-item">
          <a href="#work-togezer" class="nav-link ">Contacts</a>
        </li>
      </ul>
      <button type="button" class="menu-btn">
        <svg width="24" height="24" class="header-icon">
          <use href="./img/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
    </div>
    <div class="menu-backdrop">
      <div class="mobile-menu-wrap container">
        <div class="modal-header">
          <a href="./index.html" class="header-logo"
            >Lloyd<span class="logo-second-name">Jefferson.</span>
          </a>
          <button type="button" class="close-modal-btn">
            <svg width="32" height="32" class="header-icon">
              <use href="./img/symbol-defs.svg#icon-cross-x"></use>
            </svg>
          </button>
        
        <ul class="backdrop-menu-list">
          <li><a href="#about-me" class="nav-link">About me</a></li>
          <li><a href="#my-projects" class="nav-link">Projects</a></li>
          <li><a href="#work-togezer" class="nav-link">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>