<header class="header" id="header">
  <div class="container">
    <a href="./index.html" class="header-logo"
      >Lloyd<span class="logo-second-name">Jefferson.</span>
    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#about-me" class="nav-link">About me</a>
        </li>
        <li class="nav-list-item">
          <a href="#my-projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-list-item">
          <a href="#work-togezer" class="nav-link">Contacts</a>
        </li>
      </ul>
      <button type="button" class="menu-btn">
        <svg width="24" height="24" class="header-icon">
          <use href="./img/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
    <div class="menu-backdrop">
      <div class="mobile-menu-wrap">
        <div class="modal-header">
          <a href="./index.html" class="header-logo"
            >Lloyd<span class="logo-second-name">Jefferson.</span>
          </a>
          <button type="button" class="close-modal-btn">
            <svg width="32" height="32" class="header-icon">
              <use href="./img/symbol-defs.svg#icon-cross-x"></use>
            </svg>
          </button>
        </div>
        <ul class="backdrop-menu-list">
          <li><a href="#about-me" class="nav-link">About me</a></li>
          <li><a href="#my-projects" class="nav-link">Projects</a></li>
          <li><a href="#work-togezer" class="nav-link">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
