<section class="first-section hero">
  <div class="container hero-description">
    <h1 class="main-content">
      hello, I'm <br />
      <span class="accent-text">fullstack developer</span>
    </h1>
    <picture class="hero-image">
      <source
        srcset="
          ../img/header-hero-background/hero-img1.jpg 1x,
          ../img/header-hero-background/hero-img2.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1280px)"
      />

      <img
        class="hero-img"
        src="../img/header-hero-background/hero-img2.jpg"
        alt="photo of author"
      />
    </picture>

    <div class="order-btn-container">
      <div class="right-arrow"></div>
      <a class="button-order" href="#work-togezer">Order the project</a>
      <div class="rectangle" href="#work-togezer"></div>
    </div>

    <div class="hero-text-container">
      <p>
        I work with people all over the world to create
        <span class="accent-text">impressive</span> and
        <span class="accent-text">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>

  <div class="links-section">
    <div class="social-media-container">
      <ul class="social-links-list">
        <li class="social-links-elem">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="media-link"
            >Instagram</a
          >
        </li>
        <li class="social-links-elem">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="media-link"
            >Facebook</a
          >
        </li>
        <li class="social-links-elem">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="media-link"
            >YouTube</a
          >
        </li>
        <li class="social-links-elem">
          <a
            href=""
            target="_blank"
            href="https://kononova1986.github.io/project-15/"
            class="media-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
