<section class="container">
    <h2>my <span>projects</span></h2>
    <ul id="project-list" class="project-list">
       <li>
        <img src="../img/my-projects/manager-finance.jpg" alt="">
        <div>
            <p>React, JavaScript, Node JS, Git</p>
            <div>
            <h3>Wallet webservice </h3>
                <button type="button">
                    <a href="https://github.com/kononova1986/project-15">VISIT
                        <svg>
                            <use href="./img/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </button>
            </div>
        </div>
       </li>
    </ul>
    <button id="load-more" class="load-more" type="button">Load more</button>
</section>
