<section>
    <h2>my <span>projects</span></h2>
    <ul id="project-list" class="project-list">
       <li>
        <img src="" alt="">
        <p>React, JavaScript, Node JS, Git</p>
        <h3>Wallet webservice </h3>
        <button type="button">
            <a href="">VISIT
                <svg>
                    <use href=""></use>
                </svg>
            </a>
        </button>
       </li>
    </ul>
    <button id="load-more" class="load-more" type="button">Load more</button>
</section>
<script src="scripts.js"></script>