
<section  class="my-projects" id="my-projects">
<div class=" container">
    <h2 class="projects-title">my <span class="ighlight">projects</span></h2>
        <ul id="project-list" class="project-list">
           <li class="project-item">
                <img src="./img/my-projects/manager-finance.jpg" alt="" class="project-image">
                    <div class="project-content">
                        <p class="project-tech">React, JavaScript, Node JS, Git</p>
                            <div class="project-name-btn">
                                <h3 class="project-name">Wallet <span class="break">webservice</span></h3>
                                    <div class="centered">
                                        <button type="button" class="project-button">
                                            <a href="https://github.com/kononova1986/project-15" class="project-link">VISIT
                                                <svg class="project-icon">
                                                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                                                </svg>
                                            </a>
                                        </button>
                                    </div>
                            </div>
                    </div>
           </li>
        </ul>
    <div class="centered-button">
        <button class="load-more" type="button">LOAD MORE
        </button>
    </div>
</div>
</section>
