    <section id="reviews-container">
            <h2>Reviews</h2>
            <div class="swiper">
                <div class="swiper-wrapper" id="reviews-wrapper">
                    <!-- Slides will be inserted here dynamically -->
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#icon-arrow-reviews-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#icon-arrow-reviews-right"></use>
                    </svg>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
            
        </section>
    