<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews Slider</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Customer Reviews</h1>
    </header>
    <main>
        <section id="reviews-container">
            <h2>Reviews</h2>
            <div class="swiper">
                <div class="swiper-wrapper" id="reviews-wrapper">
                    <!-- Slides will be inserted here dynamically -->
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#icon-arrow-reviews-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#icon-arrow-reviews-right"></use>
                    </svg>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
