<section class="tech-skills" id="tech-skills">
     <div class="container tech-skills-container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="marquee">
  <div class="marquee__inner">
        <p class="marquee__line">
            <span>HTML/CSS</span>
            <span>JAVASCRIPT</span>
            <span>REACT</span>
            <span>NODE.JS</span>
            <span>REACT NATIVE</span>
            <span>TYPESCRIPT</span>
        </p>
        <p class="marquee__line">
            <span>HTML/CSS</span>
            <span>JAVASCRIPT</span>
            <span>REACT</span>
            <span>NODE.JS</span>
            <span>REACT NATIVE</span>
            <span>TYPESCRIPT</span>
        </p>
    </div>
</div>

<div class="marquee2">
   <div class="marquee__inner">
        <p class="marquee__line2">
            <span>HTML/CSS</span>
            <span>JAVASCRIPT</span>
            <span>REACT</span>
            <span>NODE.JS</span>
            <span>REACT NATIVE</span>
            <span>TYPESCRIPT</span>
        </p>
        <p class="marquee__line2">
            <span>HTML/CSS</span>
            <span>JAVASCRIPT</span>
            <span>REACT</span>
            <span>NODE.JS</span>
            <span>REACT NATIVE</span>
            <span>TYPESCRIPT</span>
        </p>
    </div>
</div>
</div>
</section>