<section class="container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line">HTML/CSS  JAVASCRIPT REACT NODE.JS REACT NATIVE TYPESCRIPT</p>
    <p class="marquee__line">HTML/CSS JAVASCRIPT REACT NODE.JS REACT NATIVE TYPESCRIPT</p>
  </div>
</div>

<div class="marquee2">
  <div class="marquee__inner">
    <p class="marquee__line2">HTML/CSS  JAVASCRIPT REACT NODE.JS REACT NATIVE TYPESCRIPT</p>
    <p class="marquee__line2">HTML/CSS JAVASCRIPT REACT NODE.JS REACT NATIVE TYPESCRIPT</p>
  </div>
</div>
</section>