<section class="work-togezer" id="work-togezer">
  <div class="container work-togezer-container">
  <h1 class="work-togezer-title"> Let&#8217;s <span class="work-togezer-title-green">work
together</span></h1>
<div class="work-togezer-wrapper">
  <div class="contact-work-togezer">
  <p class="work-togezer-subtitle">Contact me to transform your ideas into exceptional solutions.</p>
          <address class="address-work-togezer">
          <ul class="list-work-togezer">
          <li class= "link-work-togezer"><svg class="icon-work-togezer" width="19.5" height="19.5">
                              <use href="./img/symbol-defs.svg#icon-number">
                              </use>
                          </svg>
              <a
              class="link-mail-work-togezer"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
              >
          </li>
          <li class="link-work-togezer"><svg class="icon-work-togezer" width="19.5" height="19.5">
                              <use href="./img/symbol-defs.svg#icon-message">
                              </use>
                          </svg>
              <a class="link-tell-work-togezer" href="tel:+380904567890"
              >+38 090 456 78 90</a
              >
          </li>
          <li class="link-work-togezer"><svg class="icon-work-togezer" width="19.5" height="19.5">
                              <use href="./img/symbol-defs.svg#icon-location">
                              </use>
                          </svg>
              <a class="link-map-work-togezer" href=""
              >USA, New York</a
              >
          </li>
          </ul>
          </address>
          </div>
<form class="form-work-togezer">
  <input class="input-work-togezer" type="text" placeholder="Your email*">
  <textarea class="textarea-work-togezer"  name="" id="" placeholder="Message"></textarea>
  <button class="button-work-togezer" type="submit">SEND MESSAGE</button>
</form>
</div>
  </div>
  </section>