.about-me {
    padding-top: 80px;
}
.about-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: var(--black);
    padding-bottom: 40px;
}
.about-title-green {
    color: var(--accet-green);
}
.about-img {
    border-radius: 16px;
    width: 320px;
    height: 374px;
}
.about-wrapper-bio {
    width: 320px;
    margin: 40px 0;
}
.about-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    padding-bottom: 32px;
}
.about-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about-item {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--black);
}
.about-wrapper-education {
    width: 320px;
    margin-bottom: 40px;
}
.about-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.item-education {
    position: relative;
    padding-left: 32px;
}
.about-wrapper-role{
    width: 320px;
}
.item-role{
    position: relative;
    padding-left: 24px; 
}
.about-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    fill: var(--accet-green);
}
.about-icon-role{
    position: absolute;
    top: 10px;
    left: 6px;
    fill: var(--accet-green);
}

@media screen and (min-width: 768px) {
.about-me {
    padding-top: 124px;
}
.about-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    color: var(--black);
    }
    .about-img {
    width: 336px;
    height: 392px;
}
.about-wrapper-bio {
    width: 336px;
}
.about-wrapper-all{
    display: flex;
    padding-top: 60px;
    width: 704px;
}
.about-wrapper-education {
    width: 336px;
    margin-right: 32px;
}
.about-wrapper-role {
    width: 336px;
}
}

@media screen and (min-width: 1280px) {

}