.about-me {
    padding-top: 80px;
}
.about-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: var(--black);
    margin-bottom: 40px;
}
.about-title-green {
    color: var(--accet-green);
}
.about-img {
    border-radius: 16px;
    width: 320px;
    height: 374px;
}
.about-wrapper-bio {
    margin: 40px 0;
}
.about-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 32px;
}
.about-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about-item {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--black);
}
.about-wrapper-education {
    margin-bottom: 40px;
}
.about-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.item-education {
    position: relative;
    padding-left: 32px;
}
.item-role{
    position: relative;
    padding-left: 24px; 
}
.about-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    fill: var(--accet-green);
}
.about-icon-role{
    position: absolute;
    top: 10px;
    left: 6px;
    fill: var(--accet-green);
}

@media screen and (min-width: 768px) {
.about-me {
    padding-top: 124px;
}
.about-container{
    background-image: url(../img/about-img/decor-bg-about.png);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 90%;
}
.about-container-wrap{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 0px;
    align-items: flex-end;
}
.about-title {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
}
.about-img {
    width: 336px;
    height: 392px;
}
.about-wrapper-bio {
    width: 336px;
    margin: 0;
}
.about-wrapper-all{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 36px;
    margin-top: 60px;
}
.about-wrapper-education {
    width: 336px;
    margin-right: 32px;
    margin-bottom: 0px;
}
.about-wrapper-role {
    width: 336px;
}
}

@media screen and (min-width: 1280px) {
.about-me {
    padding-top: 124px;
}
.about-container-all-wrap{
    margin-left: 208px;
}
.about-container{
    background-position-x: 93%;
    background-position-y: 90%;
}
.about-container-wrap{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 720px;
    gap: 136px;
    margin-bottom: 80px;
}
.about-wrapper-bio {
    align-self: start;
    width: 488px;  
}
.about-img {
    width: 384px;
    height: 448px;
}
.about-wrapper-all{
    gap: 136px;
}
.about-wrapper-education {
    width: 384px;
    margin: 0;
}
.about-wrapper-role {
    width: 384px;
}
}