:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
  --third-family: "Montserrat", sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --black: #292929;
	--accet-green: #00b068;
	--white: #f0f0f0;
	--light-grey: #e4e5e6;
	--light-accent: #bcdfd1;

  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import url('/node_modules/normalize.css/normalize.css');
@import url('/node_modules/swiper/swiper.min.css');
@import url('/node_modules/accordion-js/dist/accordion.min.css');
@import url('/node_modules/basiclightbox/dist/basicLightbox.min.css');
@import url('/node_modules/simplelightbox/dist/simple-lightbox.min.css');

/* Reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family:"Poppins", sans-serif; 
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 360px;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}




