.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 24px;
}
.footer-logo {
  font-family: var(--second-family);
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 32px;
  color: var(--black);
}
.footer-logo-second {
  color: var(--accet-green);
}
.footer-item {
  margin-bottom: 24px;
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 300;
}
.footer-mark-block {
  display: flex;
  justify-content: center;
}
.copyright-mark {
  margin-top: 16px;
  text-align: center;
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .footer-container{
    padding-top: 40px;
  }
  .footer-list {
    display: flex;
  }
  .footer-item:not(:last-child) {
    margin-right: 40px;
  }
  .footer-mark-block {
    display: flex;
    justify-content: end;
  }
  .transfer {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer-upper-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-mark-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  .footer-logo {
    margin-bottom: 0;
  }
  .footer-item {
  margin-bottom: 0;
  }
  .copyright-mark{
    margin-top: 40px;
  }
}
