.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--black);
}

.logo-second-name {
  color: var(--accet-green);
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 4px 4px;
}

.nav-list {
  display: none;
}

.nav-link {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 150%;
  color: var(--black);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accet-green);
}

.menu-backdrop {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrap {
  max-width: 360px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-menu-list {
  background-image: url(../img/header-hero-background/decor\ bg\ 1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  padding: 0px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px;
}

@media screen and (min-width: 768px) {

.header-logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  } 
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }

  .menu-btn {
    display: none;
  }
}