
.projects-title {
    padding-top: 80px;
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
    padding-bottom: 40px;
}
.ighlight {
    color: var(--accet-green);
}
.project-list {
}
.project-item {
    margin-bottom: 40px;
}
.project-image {
    border-radius: 16px;
}
.project-content {
    padding-top: 15px;
}
.project-name-btn{
    padding-top: 16px;

}
.project-tech {
    font-family: var(--font-family);
font-weight: 300;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--black);
}
.project-name {
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: uppercase;
color: var(--black);
padding-bottom: 16px;
}
.break {
    display: block; /* Робить елемент блочним */
}
.project-button {
    text-align: center; 
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--black);
    border-radius: 8px;
    padding: 12px 24px;
    min-width: 125px;
    height: 48px;
    border: none;
    background: var(--light-grey);
}
.project-button:hover,
.project-button:focus{
    background: #bbb;;
}
.project-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.project-icon {
    margin-left: 12px;
    stroke-width: 2px;
stroke: var(--accet-green);
width:18px;
height:18px;

}
.load-more {
    background-color: white;
    padding: 12px 24px;
    min-width: 154px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
    border: none;
    text-decoration-line: underline;
    text-decoration-color: var(--accet-green);
}

.load-more:hover,
.load-more:focus {
    color: var(--accet-green);
}

/* .project-icon {
    margin-top: 8px; 
    width: 18px;
    height: 18px;
    stroke-width: 2px;
    stroke: var(--accent-green);
} */

.project{
}
.icon-line{
    width:107px;
    height:2px;
    stroke-width: 2px;
    stroke: var(--accet-green);
    display: block;
}
.centered {
    text-align: end;
}
.centered-button{
    text-align: center; 
}

@media screen and (min-width: 768px){
    .projects-title {
        padding-top: 80px;
        font-size: 108px;
        letter-spacing: 0.02em;
        padding-bottom: 60px;
    }
    .project-image {
        border-radius: 24px;
    }
    .project-item {
        margin-bottom: 60px;
    }
    .project-name {
        display: flex;
        gap: 15px;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    padding-bottom: 0;
    }
    .project-name-btn{
        padding-top: 20px;
       display: flex;
       justify-content: space-between;
    }
    .load-more {
        min-width: 165px;
        height: 56px;
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }
    /* .icon-line{
        width:119px;
    } */
}


@media screen and (min-width: 1280px){
    .projects-title {
        padding-top: 164px;
        padding-bottom: 80px;
    }
    .project-image {
        border-radius: 24px;
        height: 578px;
    }
    .my-projects>.container{
        max-width: 1008px;
    }
    .project-item {
        margin-bottom: 80px;
    }
    /* .icon-line{
        width:125px;
    } */
}