/* Заголовок відгуків */
.reviews-header {
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

/* Контейнер для слайдера відгуків */
.reviews-swiper {
    background-color: lightgray;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Кнопки перегортування */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.svg-prev,
.svg-next {
    border: 1px solid rgba(41, 41, 41, 0.3);
    border-radius: 8px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

/* Зображення користувача */
.reviews-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

/* Текст відгуку */
.review-text {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

/* Контейнер для зображення та тексту відгуку */
.swiper-img-container {
    display: flex;
    align-items: center;

}
