#reviews-container {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.swiper {
    width: 100%;
    padding: 2rem 0;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    margin: 0 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.swiper-slide h3 {
    margin: 0 0 1rem 0;
}


.swiper-slide p {
    margin: 0;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 24px;
    height: 24px;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .swiper-slide {
        flex-direction: column;
        padding: 1rem;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .swiper-slide {
        flex-direction: column;
        padding: 1rem;
    }
}
